[connection]
id=solarmon
uuid=92855550-5555-5555-5555-bc45555804b4
type=wifi
interface-name=wlan0

[wifi]
mode=infrastructure
ssid=__SSID__

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk=__PASSWORD__

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
