[connection]
id=solarmon
type=wifi

[wifi]
mode=infrastructure
ssid=__SSID__

[wifi-security]
key-mgmt=wpa-psk
psk=__PASSWORD__

[ipv4]
method=auto

[ipv6]
addr-gen-mode=stable-privacy
method=auto

[proxy]
