[Unit]
Description=Solar Monitor Dashboard Kiosk
After=multi-user.target

[Service]
User=pi
Group=pi
TTYPath=/dev/tty1
Environment="XDG_RUNTIME_DIR=/home/pi"
Restart=always
ExecStart=/home/pi/energyutils/solar_monitor/chromium_kiosk.sh
StandardError=journal

[Install]
WantedBy=default.target
