[Unit]
Description=Solar Monitor Dashboard
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/energyutils/solar_monitor/solar_monitor.py
User=pi
Group=pi
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
