:root {
    /* metric and material icon sizing
     * two variations for default and smaller screens
     */
    --metric-font-size-default: 6.0vw;
    --metric-font-size-small: 8.0vw;
    --metric-font-size-single: 10.5vw;
    --metric-font-size-portrait: 8.5vw;

    --icon-font-size-default: 2.5vw;
    --icon-font-size-small: 4.0vw;
    --icon-font-size-single: 4.0vw;
    --icon-font-size-portrait: 3.0vw;

    --metric-unit-font-size-default: 1.5vw;
    --metric-unit-font-size-small: 2.5vw;
    --metric-unit-font-size-single: 3.0vw;
    --metric-unit-font-size-portrait: 2.5vw;

    --metric-caption-font-size-default: 1.0vw;
    --metric-caption-font-size-small: 1.5vw;
    --metric-caption-font-size-single: 2.0vw;
    --metric-caption-font-size-portrait: 1.0vw;

    --about-footer-font-size: 1.0vw;
    --about-title-font-size: 4.5vw;
    --about-caption-font-size: 2.0vw;

    --title-font-size-default: 1.5vw;
    --title-font-size-small: 2.5vw;
    --title-font-size-single: 4.5vw;
    --title-font-size-portrait: 4.0vw;

    --legend-font-size-default: 1.0vw;
    --legend-font-size-small: 1.5vw;
    --legend-font-size-single: 1.5vw;
    --legend-font-size-portrait: 2.5vw;

    --slice-font-size-default: 1.3vw;
    --slice-font-size-small: 2.0vw;
    --slice-font-size-single: 2.0vw;
    --slice-font-size-portrait: 3.0vw;

    --metric-font-size: var(--metric-font-size-default);
    --icon-font-size: var(--icon-font-size-default);
    --metric-unit-font-size: var(--metric-unit-font-size-default);
    --metric-caption-font-size: var(--metric-caption-font-size-default);
    --title-font-size: var(--title-font-size-default);
    --legend-font-size: var(--legend-font-size-default);
    --slice-font-size: var(--slice-font-size-default);

    --bg-colour: #000000;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}
#bg {
    height: 200px;
    background-color: var(--bg-colour);
}
body {
    /*
  background-image: url('/images/bg.jpg');
  background-repeat:no-repeat;
  background-size:100% 100vh;
     */
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.title{
    font-size: var(--title-font-size);
    color: white;
}
.about-title{
    font-size: var(--about-title-font-size);
    color: white;
}
.about-caption{
    font-size: var(--about-caption-font-size);
    color: white;
}
.about-footer{
    font-size: var(--about-footer-font-size);
}
.metric{
    font-size: var(--metric-font-size);
}
.metric-white{
    color: white;
}
.metric-grey{
    color: #424242;
}
.metric-yellow{
    color: #AAAA00;
}
.metric-orange{
    color: #E65000;
}
.metric-red{
    color: #990000;
}
.metric-green{
    color: #006600;
}
.metric-blue{
    color: #00487F;
}
.metric-charge{
    color: #5C985C;
}
.metric-discharge{
    color: #925EAE;
}
.metric-unit{
    font-size: var(--metric-unit-font-size);
}
.metric-unit{
    font-size: var(--metric-unit-font-size);
}
.metric-caption{
    font-size: var(--metric-caption-font-size);
}
g.google-visualization-tooltip { 
    /* fixes flickering tooltip */
    pointer-events: none 
}
.metric-icon { 
    font-size: var(--icon-font-size);
}
