:root {
    /* metric and material icon sizing
     * two variations for default and smaller screens
     */
    --metric-font-size-default: 6.0vw;
    --metric-font-size-small: 9.0vw;
    --metric-font-size-portrait: 8.5vw;

    --icon-font-size-default: 3.0vw;
    --icon-font-size-small: 3.5vw;
    --icon-font-size-portrait: 4.5vw;

    --metric-unit-font-size-default: 1.5vw;
    --metric-unit-font-size-small: 2.0vw;
    --metric-unit-font-size-portrait: 2.5vw;

    --title-font-size-default: 1.5vw;
    --title-font-size-small: 2.5vw;
    --title-font-size-portrait: 4.0vw;

    --legend-font-size-default: 1.0vw;
    --legend-font-size-small: 1.5vw;
    --legend-font-size-portrait: 2.5vw;

    --slice-font-size-default: 1.3vw;
    --slice-font-size-small: 2.0vw;
    --slice-font-size-portrait: 3.0vw;

    --metric-font-size: var(--metric-font-size-default);
    --icon-font-size: var(--icon-font-size-default);
    --metric-unit-font-size: var(--metric-unit-font-size-default);
    --title-font-size: var(--title-font-size-default);
    --legend-font-size: var(--legend-font-size-default);
    --slice-font-size: var(--slice-font-size-default);
}
#bg {
    height: 200px;
    background-color: #000000; 
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.title{
    font-size: var(--title-font-size);
    color: white;
}
.metric{
    font-size: var(--metric-font-size);
}
.metric-white{
    color: white;
}
.metric-grey{
    color: #525252;
}
.metric-yellow{
    color: #AAAA00;
}
.metric-orange{
    color: #E65000;
}
.metric-red{
    color: #990000;
}
.metric-green{
    color: #006600;
}
.metric-blue{
    color: #00487F;
}
.metric-charge{
    color: #5C985C;
}
.metric-discharge{
    color: #925EAE;
}
.metric-unit{
    font-size: var(--metric-unit-font-size);
}
g.google-visualization-tooltip { 
    /* fixes flickering tooltip */
    pointer-events: none 
}
.material-icons.metric { 
    font-size: var(--icon-font-size);
}
